<!DOCTYPE html>
<html ng-app="trolleyApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
</head>
<body ng-controller="ProductListCtrl">

<section class="container-fluid">
  <section class="row">
    <section class="col-md-2">
      Search: <input ng-model="query">
    </section>

    <section class="col-md-4">
      <ul class="products">
        <li ng-repeat="product in products | filter:query">
          <span>Item: {{product.name}}</span>
          <p class="descrption">Description: {{product.description}}</p>
          <p class="previous">Previous Price: {{product.previousprice | currency:"£"}}</p>
          <p class="price">New Price: {{product.price | currency:"£"}}</p>
          <p class="stock">In Stock: {{product.stock}}</p>
          <button type="button" ng-click="addToBasket(product, products)">Add To Basket</button>
        </li>
      </ul>
    </section>
    <section class="col-md-2">
      <ul class="vouchers">
        <li ng-repeat="voucher in vouchers">
          <span>Voucher: {{voucher.name}}</span>
        </li>
      </ul>
    </section>
    <section class="col-md-4">
      <p>Basket:</p>
      <ul class="basket">
        <li ng-repeat="product in basket">
          <span>Item: {{product.name}}</span>
          <p>Price: {{product.price | currency:"£"}}</p>
          <p>Quantity: {{product.stock}}</p>
          <button type="button" ng-click="removeFromBasket(product, basket)">Remove</button>
        </li>
      </ul>
      <p>Sub Total: {{getTotal() | currency:"£"}}</p>
    </section>
  </section>
</section>

<script src="../bower_components/angular/angular.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>
